@(bodyclasses: String, bodydata: Map[String, String])(
    before_stylesheet: Html)(after_stylesheet: Html)(
    headercontainer: Html)(header: Html)(
    site: Html)(after_site: Html)(script: Html)
@allBodyData = @{ bodydata.map(e => s"data-${e._1}='${e._2}'").mkString(" ") }
<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">

    <title>Sparkling-Notebook</title>
    <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("base/images/favicon.ico")">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="@routes.Assets.at("components/jquery-ui/themes/smoothness/jquery-ui.min.css")" type="text/css" />
    <link rel="stylesheet" href="@routes.Assets.at("components/jquery-typeahead/dist/jquery.typeahead.min.css")" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @before_stylesheet
    <link rel="stylesheet" href="@routes.Assets.at("style/style.min.css")" type="text/css"/>
    @after_stylesheet

    <link rel="stylesheet" href="@routes.Assets.at("custom/custom.css")" type="text/css" />
    <script src="@routes.Assets.at("components/es6-promise/promise.min.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.at("components/requirejs/require.js")" type="text/javascript" charset="utf-8"></script>
    <script>
      require.config({
          baseUrl: '@routes.Assets.at("")',
          paths: {
            'auth/js/main': 'auth/js/main.min',
            nbextensions : '/nbextensions',
            kernelspecs : '/kernelspecs',
            underscore : 'components/underscore/underscore-min',
            backbone : 'components/backbone/backbone-min',
            jquery: 'components/jquery/jquery.min',
            bootstrap: 'components/bootstrap/js/bootstrap.min',
            bootstraptour: 'components/bootstrap-tour/build/js/bootstrap-tour.min',
            'jquery-ui': 'components/jquery-ui/ui/minified/jquery-ui.min',
            moment: 'components/moment/moment',
            codemirror: 'components/codemirror',
            termjs: 'components/xterm.js/dist/xterm',
            typeahead: 'components/jquery-typeahead/dist/jquery.typeahead.min',
          },
	  map: { // for backward compatibility
	    "*": {
		"jqueryui": "jquery-ui",
	    }
	  },
          shim: {
            typeahead: {
              deps: ["jquery"],
              exports: "typeahead"
            },
            underscore: {
              exports: '_'
            },
            backbone: {
              deps: ["underscore", "jquery"],
              exports: "Backbone"
            },
            bootstrap: {
              deps: ["jquery"],
              exports: "bootstrap"
            },
            bootstraptour: {
              deps: ["bootstrap"],
              exports: "Tour"
            },
            "jquery-ui": {
              deps: ["jquery"],
              exports: "$"
            }
          },
          waitSeconds: 30,
      });

      require.config({
          map: {
              '*':{
                'contents': 'services/contents',
              }
          }
      });

      define("bootstrap", function () {
          return window.$;
      });

      define("jquery", function () {
          return window.$;
      });

      define("jqueryui", function () {
          return window.$;
      });

      define("jquery-ui", function () {
          return window.$;
      });
      // error-catching custom.js shim.
      define("custom", function (require, exports, module) {
          try {
              var custom = require('custom/custom');
              console.debug('loaded custom.js');
              return custom;
          } catch (e) {
              console.error("error loading custom.js", e);
              return {};
          }
      })
    </script>
</head>

<body class="@bodyclasses" data-base-url="/" data-terminals-available="False" @Html(allBodyData)>

<noscript>
    <div id='noscript'>
      Jupyter Notebook requires JavaScript.<br>
      Please enable it to proceed.
  </div>
</noscript>

<div id="header">
  <div id="header-container" class="container">
  <div id="ipython_notebook" class="nav navbar-brand pull-left"><a href="/" title='dashboard'><img src='@routes.Assets.at("custom/logo.png")' alt='Spark Notebook'> Notebook</a></div>
      @headercontainer
  </div>
  <div class="header-bar"></div>

    @header
</div>
<div id="site">
    @site
</div>

@after_site

@script

</body>

</html>
