@(notebookPath: String, breadcrumbs: Seq[(String, String)])
@page("notebook-tree", notebookPath) {

<div id="ipython-main-app" class="container">
  <div id="tab_content" class="tabbable">
    <div class="tab-content">
      <div id="notebooks" class="tab-pane active">
        <div id="notebook_toolbar" class="row">
          <div class="col-sm-8 no-padding">
            <div class="dynamic-instructions">
              Select items to perform actions on them.
            </div>
            <div class="dynamic-buttons">
              <button title="Duplicate selected" class="duplicate-button btn btn-default btn-xs">Duplicate</button>
              <button title="Rename selected" class="rename-button btn btn-default btn-xs">Rename</button>
              <button title="Shutdown selected notebook(s)" class="shutdown-button btn btn-default btn-xs btn-warning">Shutdown</button>
              <button title="Delete selected" class="delete-button btn btn-default btn-xs btn-danger"><i class="fa fa-trash"></i></button>
            </div>
          </div>
          <div class="col-sm-4 no-padding tree-buttons">
            <div class="pull-right">
              <form id='alternate_upload'  class='alternate_upload'>
                  <span id="notebook_list_info">
                  <span class="btn btn-xs btn-default btn-upload">
                  <input  title="Click to browse for a file to upload." type="file" name="datafile" class="fileinput" multiple='multiple'>
                  Upload
                  </span>
                  </span>
              </form>
              <div id="new-buttons" class="btn-group">
                <button class="dropdown-toggle btn btn-default btn-xs" data-toggle="dropdown">
                  <span>New</span>
                  <span class="caret"></span>
                </button>
                <ul id="new-menu" class="dropdown-menu">
                  <li role="presentation" id="new-file">
                    <a role="menuitem" tabindex="-1" href="#">Text File</a>
                  </li>
                  <li role="presentation" id="new-folder">
                    <a role="menuitem" tabindex="-1" href="#">Folder</a>
                  </li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation" class="dropdown-header" id="notebook-kernels">Notebooks</li>
                </ul>
              </div>
              <div class="btn-group">
                <button id="refresh_notebook_list" title="Refresh notebook list" class="btn btn-default btn-xs"><i class="fa fa-refresh"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div id="notebook_list">
          <div id="notebook_list_header" class="row list_header">
            <div class="btn-group dropdown" id="tree-selector">
              <button title="Select All / None" type="button" class="btn btn-default btn-xs" id="button-select-all">
                <input type="checkbox" class="pull-left tree-selector" id="select-all"><span id="counter-select-all">&nbsp;</span></input>
              </button>
              <button title="Select..." class="btn btn-default btn-xs dropdown-toggle" type="button" id="tree-selector-btn" data-toggle="dropdown" aria-expanded="true">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul id='selector-menu' class="dropdown-menu" role="menu" aria-labelledby="tree-selector-btn">
                <li role="presentation"><a id="select-folders" role="menuitem" tabindex="-1" href="#" title="Select All Folders"><i class="menu_icon folder_icon icon-fixed-width"></i> Folders</a></li>
                <li role="presentation"><a id="select-notebooks" role="menuitem" tabindex="-1" href="#" title="Select All Notebooks"><i class="menu_icon notebook_icon icon-fixed-width"></i> All Notebooks</a></li>
                <li role="presentation"><a id="select-files" role="menuitem" tabindex="-1" href="#" title="Select All Files"><i class="menu_icon file_icon icon-fixed-width"></i> Files</a></li>
              </ul>
            </div>
            <div id="project_name">
              <ul class="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i></a></li>
                @for(link <- breadcrumbs) { <li><a href="@{link._2}">@{link._1}</a></li> }
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!-- class:tab-content -->
  </div><!-- id:tab_content -->
</div><!-- ipython-main-app  -->
} { <!-- script -->
<script src="@routes.Assets.at("tree/js/main.min.js")" type="text/javascript" charset="utf-8"></script>
}
